enable_experimental_features 1
use_legacy_keybind 0

create_table_of_contents_if_not_exists 1
show_doc_path 1

super_fast_search 1
use_legacy_keybind 0

background_color #EDEDED

dark_mode_background_color #191B1C
dark_mode_contrast 1.0

custom_background_color #AEACA8
custom_text_color #000000

ui_font Ubuntu Mono
#ui_font Jetbrains Mono NL
#ui_font Writer
font_size 15

status_bar_color 0.06 0.06 0.06
status_bar_text_color 0.8 0.8 0.8
status_bar_font_size 15

page_separator_width 2
page_separator_color #D6D4D0

case_sensitive_search 0

# Centered Visual Mark During Navigation
visual_mark_next_page_fraction  0
visual_mark_next_page_threshold  1

prerender_next_page_presentation
prerender_page_count 3
