BasedOnStyle: LLVM
UseTab: Never
TabWidth: 4
IndentWidth: 4
AllowShortEnumsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
AlignAfterOpenBracket: DontAlign
BreakBeforeBraces: Custom
ColumnLimit: 100
BraceWrapping:
  BeforeElse: true
